fastapi>=0.115.8
# imbalanced-learn>=0.13.0
matplotlib>=3.10.0
numpy>=2.2.2
ollama>=0.4.7
openpyxl>=3.1.5
pandas>=2.2.3
plotly>=6.0.0
prophet>=1.1.6
pydantic>=2.10.6
python-multipart>=0.0.20
scikit-learn>=1.6.1
smolagents>=1.8.0
torch>=2.6.0
transformers>=4.48.3
uncompyle6>=3.9.2
uvicorn>=0.34.0
xgboost>=2.1.4
yfinance>=0.2.52